<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vivid - Creative Personal Portfolio Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="Vivid creative personal portfolio template">
	<meta name="keywords" content="vivid, creative, personal, portfolio, template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="../static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../static/css/themify-icons.css"/>
	<link rel="stylesheet" href="../static/css/animate.min.css"/>
	<link rel="stylesheet" href="../static/css/magnific-popup.css"/>
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="../static/css/homepage.css"/>

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body style="margin=0%">
	<!-- Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	
	<!-- Navigation section start -->
	<div id="navigation-toggle" class="nav-toggle">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="nav-section">
		<div class="close-nav">+</div>
		<!-- Main menu -->
		<nav class="main-manu">
			<ul class="menu-list">
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#resume">Resume</a></li>
				<li><a href="#works">Photo Gallery</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
		<div class="social-links">
			<a href=""><i class="fa fa-facebook"></i></a>
			<a href=""><i class="fa fa-instagram"></i></a>
			<a href=""><i class="fa fa-twitter"></i></a>
			<a href=""><i class="fa fa-dribbble"></i></a>
			<a href=""><i class="fa fa-behance"></i></a>
		</div>
	</div>
	<!-- Navigation section end -->

	<!-- Intro section start -->
	<section class="intro-section" id="home">
		<div id="particles">
		</div>
		<div class="intro-content">
			<div class="intro-inner">
				<div class="container">
					<h2>This is <span>Tom Zhao</span></h2>
					<h3>@Imperial College London Department of Computing</h3>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section start end -->

	<!-- About section start -->
	<section class="about-section spad" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-5 mb-lg-0">
					<img src="../static/img/me.jpeg" alt="">
				</div>
				<div class="col-lg-6 about-text">
					<h1 class="hero-title">A brief story about me, my life and career</h1>
					<p>I am <span>Tom Zhao</span>, a first-year undergraudate at Imperial College London. Born in Inner Mongolia, China, I have lived
					in San Rafael, California for 3 years of my high school. Now, I'm settled in London to continue my journey to pursue a career in 
					computing. I love math & science, music, photography, badmington, mountain biking, and learning new languages. I'm a tech enthusiast 
					and always passionate about learning new skills. I'm fluent at English, Mandarin, and Japanese, and can read in French as well.</p>
					<img src="../static/img/sign.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- About section start end -->


	<!-- Service section start -->
	<section class="service-section spad" id="resume">
		<div class="container">
			<div class="section-title">
				<h2>About Me</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<!-- service item -->
					<div class="service-box bg-1 wow fadeInUp" data-wow-delay="0.2s">
						<div class="service-icon">
							<i class="ti-file"></i>
							<h2>My Resume</h2>
						</div>
						<div class="service-content">
							<div class="service-inner">
								<h2>My Resume</h2>
								<p><a href="www.google.com">Resume for Job/Work.</a><br />Related fields: Computer Graphics, Frontend & Backend, 
								Digital Circuit Design, Machine Learning, etc.</p>
								<p><a href="www.google.com">Resume as a Student.</a><br />Language Study, Photography, Mountain Biking/Running, 
									Traveling, etc.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!-- service item -->
					<div class="service-box bg-1 wow fadeInUp" data-wow-delay="0.4s">
						<div class="service-icon">
							<i class="ti-notepad"></i>
							<h2>My Blog</h2>
						</div>
						<div class="service-content">
							<div class="service-inner">
								<h2>My Blog</h2>
								<p><a href="www.google.com">Tech Blog</a><br />Everything about the latest tech news.</p>
								<p><a href="www.google.com">Life Blog</a><br />A log of my life. Starting from Aug. 2016.</p>
								<p><a href="www.google.com">Study Blog</a><br />Imperial exam paper solutions, materials for 
								college/intern application.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<!-- service item -->
					<div class="service-box bg-1 wow fadeInUp" data-wow-delay="0.6s">
						<div class="service-icon">
							<i class="ti-headphone-alt"></i>
							<h2>My Music Playlist</h2>
						</div>
						<div class="service-content">
							<div class="service-inner">
								<h2>My Music Playlist</h2>
								<p><a href="www.google.com">Music Playlists</a><br />Japanese R&B, The 80s, Lo-fi, Pop.</p>
								<p><a href="www.google.com">Music Reviews</a><br />Some words about the musics that I listen to.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Service section start end -->


	<!-- Resume section start -->
	<section class="resume-section spad" id="resume">
		<div class="container">
			<div class="section-title">
				<h2>Newest Projects / Updates</h2>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<!-- resume item -->
					<div class="resume-item wow fadeInUp" data-wow-delay="0.3s">
						<h2>Pulse Secure Software Engineer Summer Intern</h2>
						<h3>10 weeks 2020 summer</h3>
						<p>Responsible for the development of PulseUI which is potentially used across the company. 
							Using React.js, Sass with tools such as Kubernete to build a reliable interface for VPN 
							and analytic products.
						</p>
						<img src="../static/img/pulsesecurelogo.jpg" />
					</div>
					<!-- resume item -->
					<div class="resume-item wow fadeInUp" data-wow-delay="0.3s">
						<h2>CAD Connect</h2>
						<h3>6 months 2019-2020</h3>
						<p>A continuous project to build a cloud platform for AutoCAD. Designed RESTful API. 
							Developed backend using Java with Spring framework and MySQL. Implemented authentication 
							through Spring Security with JWT. Helped build frontend using React.js and Ant Design UI.</p>
						<img src="../static/img/autodesklogo.png" />
					</div>
					<!-- resume item -->
					<div class="resume-item wow fadeInUp" data-wow-delay="0.3s">
						<h2>LinguoMusic</h2>
						<h3>ICHack20 Project</h3>
						<p>A Music Player Helping People Learn New Languages. Collaborated with two undergraduates to create the NLP database and frontend.
						Used React.js and related tools on npm to build the scrolling lyric with word-by-word translation
						interface as well as the player.
						Used Python and jiagu library to do natural language processing on lyrics, including tokenization and
						word categorization, etc. Used Netease Music Box with Python to access music and lyric data.
						<a href="https://devpost.com/software/linguomusic">Click here to view</a></p>
						<img src="../static/img/ichacklogo.png" />
					</div>
					<!-- resume item -->
					<div class="resume-item wow fadeInUp" data-wow-delay="0.3s">
						<h2>OpenWRT Internet Usage Monitor</h2>
						<h3>November 2019</h3>
						<p>An Add-on for OpenWRT system. Used JavaScript with chart.js, jQuery, and Bootstrap as the frontend, and Python with Flask and SQLite as the backend.
						It can extract Internet usage information periodically from the OpenWRT router system for each host, including MAC 
						address, download and upload statistics, and visualise it as a chart on a webpage.</p>
						<img src="../static/img/openwrtdemo.png" />
					</div>
					<!-- resume item -->
					<div class="resume-item wow fadeInUp" data-wow-delay="0.3s">
						<h2>Imperial College London</h2>
						<h3>September 2019</h3>
						<p>Begin to study @ Imperial College London Department of Computing. Learned lots of new things: Haskell, Advanced Java Multithreading, 
						SQL and Database Design, Computer Hardware & Architecture, Assembly and Compiler, etc.
						</p>
						<img src="../static/img/imperiallogo1.jpg" style="display: inline-block; width: 35%;"/>
						<img src="../static/img/imperiallogo2.png" style="display: inline-block; width: 30%; float: right;"/>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Resume section start end -->


	<!-- Portfolio section start -->
	<section class="portfolio-section spad" id="works">
		<div class="container">
			<div class="section-title">
				<h2>My Photo Gallery</h2>
			</div>
			<ul class="portfolio-filter">
				<li class="filter active" data-filter="*">All Photos</li>
				<li class="filter" data-filter=".us">U.S.</li>
				<li class="filter" data-filter=".uk">U.K. & Ireland</li>
				<li class="filter" data-filter=".cn">China</li>
				<li class="filter" data-filter=".jp">Japan</li>
			</ul>
			<div class="row isotope_items">
				<!-- portfolio item -->
				<div class="col-lg-4 col-md-6 uk">
					<a href="../static/img/works/1.jpg" class="portfolio-item set-bg" data-setbg="../static/img/works/1.jpg">
						<div class="portfolio-text">
							<h2>Recent Collection</h2>
							<p>London & Cambridge, England, U.K.</p>
						</div>
					</a>
				</div>
				<!-- portfolio item -->
				<div class="col-lg-8 col-md-6 us">
					<a href="../static/img/works/2.jpg" class="portfolio-item set-bg" data-setbg="../static/img/works/2.jpg">
						<div class="portfolio-text">
							<h2>San Francisco</h2>
							<p>Marin County & San Francisco, California, U.S.</p>
						</div>
					</a>
				</div>
				<!-- portfolio item -->
				<div class="col-lg-4 col-md-6 cn">
					<a href="../static/img/works/3.jpg" class="portfolio-item set-bg" data-setbg="../static/img/works/3.jpg">
						<div class="portfolio-text">
							<h2>My Hometown</h2>
							<p>Baotou, Inner Mongolia, China</p>
						</div>
					</a>
				</div>
				<!-- portfolio item -->
				<div class="col-lg-4 col-md-6 cn">
					<a href="../static/img/works/4.jpg" class="portfolio-item set-bg" data-setbg="../static/img/works/4.jpg">
						<div class="portfolio-text">
							<h2>Beijing Landscape & Shanghai Teamlab</h2>
							<p>Mainland China</p>
						</div>
					</a>
				</div>
				<!-- portfolio item -->
				<div class="col-lg-4 col-md-12 uk">
					<a href="../static/img/works/6.jpg" class="portfolio-item set-bg" data-setbg="../static/img/works/6.jpg">
						<div class="portfolio-text">
							<h2>Ireland Journey</h2>
							<p>Belfast, Dubline & Galway, Northern Ireland(U.K.) & Ireland</p>
						</div>
					</a>
				</div>
				<!-- portfolio item -->
				<div class="col-lg-8 col-md-6 jp">
					<a href="../static/img/works/7.jpg" class="portfolio-item set-bg" data-setbg="../static/img/works/7.jpg">
						<div class="portfolio-text">
							<h2>Japan Trip & Teamlab Infinite Space</h2>
							<p>Tokyo, Japan</p>
						</div>
					</a>
				</div>
				<!-- portfolio item -->
				<div class="col-lg-4 col-md-6 us">
					<a href="../static/img/works/8.jpg" class="portfolio-item set-bg" data-setbg="../static/img/works/8.jpg">
						<div class="portfolio-text">
							<h2>East Coast Collection</h2>
							<p>New York & Ithaca, Philedelphia, Boston & more, U.S.</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio section start end -->


	<!-- Testimonial section start -->
	<section class="testimonial-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 owl-carousel test-slider" id="test_slider">
					<!-- testimonial item -->
					<div class="single-testimonial">
						<div class="qut">“</div>
						<p>To err is human. To really foul things up, you need a computer!</p>
						<h2>Paul R. Ehrlich</h2>
						<span>American scientist (1926 - Present)</span>
					</div>
					<!-- testimonial item -->
					<div class="single-testimonial">
						<div class="qut">“</div>
						<p>When something is important enough, you do it even if the odds are not in your favor.</p>
						<h2>Elon Musk</h2>
						<span>CEO & Founder of Tesla Ltd. & SpaceX</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonial section start end -->


	<!-- Contact section start -->
	<section class="contact-section spad" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="con-info wow fadeInUp" data-wow-delay="0.2s">
						<p class="subtitle">London</p>
						<h2>28-32 Pembridge Gardens<br> London W2 4DX, United Kingdom. <br>
							<br>UK Tel: +44 07421-471-909<br>
							China Tel: +86 131-6178-8390<br>
							US Tel: +1 415-827-3041</h2>
					</div>
					<!-- contact form -->
					<form action="mail.php" method="POST" class="contact-form" id="contact-form">
						<div class="row">
							<div class="col-sm-6">
								<input type="text" name="name" id="name" required placeholder="Your Name">
							</div>
							<div class="col-sm-6">
								<input type="email" name="email" id="email" required placeholder="Email address">
							</div>
							<div class="col-sm-12">
								<textarea id="massage" name="massage" required placeholder="Your Massage"></textarea>
								<div class="text-center">
									<button type="submit" class="site-btn" id="send-form">Send Massege</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section start end -->


	<!-- Footer section start -->
	<footer class="footer-section spad">
		<div class="container">
			<div class="social">
                <a href="#">facebook </a>
                <a href="#">twitter </a>
                <a href="#">instagram </a>
                <a href="#">behance </a>
                <a href="#">dribbble  </a>
            </div>
			<div class="copyright">Copyright © 2020 Xuan(Tom) Zhao All Rights Reserved. <br> Created by Xuan(Tom) Zhao</div>
		</div>
	</footer>
	<!-- Footer section start end -->


	<!--====== Jquery & Javascripts files  ======-->
	<script src="../static/js/jquery-2.1.4.min.js"></script>
	<script src="../static/js/jquery.nav.min.js"></script>
	<script src="../static/js/isotope.pkgd.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/magnific-popup.min.js"></script>
	<script src="../static/js/particles.min.js"></script>
	<script src="../static/js/init-particles.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script src="../static/js/scripts.js"></script>

</body>
</html>
